anyio==4.14.1
arabic-reshaper==3.0.1
brotli==1.2.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cssselect2==0.9.0
et_xmlfile==2.0.0
fonttools==4.63.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
openpyxl==3.1.5
pillow==12.2.0
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-bidi==0.6.10
python-telegram-bot==22.8
reportlab==5.0.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.15.0
weasyprint==69.0
webencodings==0.5.1
zopfli==0.4.3
